body {
    background-color: #0a192f;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #112240;
    padding: 15px 30px;
    flex-direction: column;
}

br {
    color: white;
}

header span img {
    width: 60px;
    height: auto;
    padding-right: 15px;
}

header span {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    align-items: center;
}

nav {
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
    border-top: white 2px solid;
    width: 100%;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

main h1 {
    grid-column: span 3;
}

section h2 {
    text-align: center;
    border-bottom: white 2px solid;
    padding-bottom: 10px;
}

.section-about {
    grid-column: span 2;
    background-color: #1b2c4a;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    max-height: 300px;
}

.section-student {
    grid-column: span 1;
    background-color: #1b2c4a;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
    max-height: 300px;
}

.section-student img {
    height: 70%;
}

.section-certificate {
    grid-column: span 3;
    background-color: #1b2c4a;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
}

.classes-nav {
    display: flex;
    justify-content: center;
}

.classes-nav .button {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 0;
    background-color: #0a192f;
    text-align: center;
    padding: 10px;
    width: 110px;
    border-radius: 10px;
    color:white;
    border: white 1px solid;
}

.classes-nav button:hover {
    background-color: #2e2c41;
}

h1, h2, .active {
    color: #a4edfd !important;
}

ul {
    list-style-type: circle;
    padding: 0;
    margin-left: 15px;
}

.classes-option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.classes-option p {
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(95, 21, 21);
    border-radius: 10px;
    border: white 1px solid;
}

.completed{

    background-color: rgb(247, 247, 247) !important;
    color: black;
}

footer {
    background-color: #112240;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-socials {
    display: flex;
    flex-direction: column;
}

.individual-social {
    padding: 5px;
}

.fa {
    font-size: 24px !important;
}

.social-link {
    padding-left: 5px;
    color: #ffffff;
    text-decoration: none;
}